
//INPUT AND OUTPUT

basedir = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/"
env.results_dir = "$basedir/results/test1" 

params.genomefasta = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/genomedata/chr22_original.fa.gz"
params.genomesizes = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/genomedata/hg19.chrom.sizes"
params.genomeindex = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/results/test1/00_index/chr22.fa.gz"
params.genomeindexfai = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/genomedata/chr22.fa"


params.reads = "$basedir/data/*.fastq.gz"


//PIPELINE CONFIGURATION

params.filter.mindp=20

params.filtvcf.filter_freq="true" //true or false
params.filtvcf.af_exac=1
params.filtvcf.af_esp=1
params.filtvcf.af_tgp=1
params.filtvcf.filter_ann=  "" 
//"protein_coding" //"downstream_gene_variant" //"intron_variant" "downstream_gene_variant" "splice_region_variant"


params.trim.quality=20
params.trim.min_length=20 //trim galore default

params.fastqc.do = true

params.index.do = true

params.indexFai.do = true

params.alignment.bwaparams = "-a"


params.filterAlignment.mapq = 20
params.filterAlignment.include_flag_f = 0
params.filterAlignment.exclude_flag_F = 2308 //read unmapped, not primary alignment, supplementary alignment

params.rmdup.do = true

params.coverage.bed = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/genomedata/chr22_CDS.bed"


params.snpeff.execdir = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/snpEff"
params.snpeff.db = "GRCh37.75"
params.snpeff.external_db = "/home/carmoma/Documents/Bioinformatica_UOC/AnalisisDatosOmicos/PEC3/external_dbs/clinvar.vcf.gz"

//RESOURCE ALLOCATION

params.resources.trim.cpus= 2
params.resources.trim.mem = "4 GB"

params.resources.fastqc.cpus= 2
params.resources.fastqc.mem = "4 GB"

params.resources.index.cpus= 6
params.resources.index.mem = "12 GB"

params.resources.alignment.cpus= 6
params.resources.alignment.mem = "12 GB"

params.resources.samtoolsfilter.cpus=4
params.resources.samtoolsfilter.mem="4 GB"


params.resources.cov.cpus= 2
params.resources.cov.mem = "4 GB"

params.resources.snpeff.cpus= 2
params.resources.snpeff.mem = "8 GB"

profiles {
    conda {
      process.conda = '/home/carmoma/anaconda3/envs/minivar4UOC_env'
    }
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
}

cleanup = false
